@supports (height: 100dvh) {
  .min-viewport {
    min-height: 100dvh;
  }
}


/* No accidental bottom spacing */
body {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

/* Footer text truncation */
.footer-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 576px) {
  .footer-text {
    font-size: 13px !important;
  }
}